.venv
pinchbench-skill
*runs*/
pinchbench_runs/
*tasks/
*tasks2/
*backup/
clean_runs.sh
pinchbench_exec_history.csv
*.log
*log*/

__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwzw