.venv
pinchbench-skill
*runs*/
pinchbench_runs/
*tasks/
*tasks2/
*backup/
clean_runs.sh
pinchbench_exec_history.csv
*.log
*log*/
*opencode_output*
sample_trajectory/
test/
jiuwenclaw_chat.log
llm_proxy.yaml
simple_agent_config.ini
*.bak
* copy.*
*_chat.log
*pretty.json
vc/

__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwzw